
$color-primary: rgba(9, 214, 241, 0.4);
$color-primary-light: rgba(9, 214, 241, 0.568);
$color-primary-dark: rgba(53, 38, 121, 0.4);

$color-grey-dark: #777;
$color-black: rgb(0, 0, 0);
$main-white: #ffffff;